body{
	text-align: center;
	margin: 0;
}
header{
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}
h1{
	font-family: Raleway;
	font-size: 45px;
/*	color: #0D2C40; */
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
}
nav{
	background-color: #00A6B3;
	font-color: #FFFFFF;
	padding: 20px 0;
}
a{
	font-family: Raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 20px;
	border-bottom: 2px solid transparent;
}
main {
	width: 850px;
	margin: 35px auto;
}
h2{
	font-family: Raleway;
	font-size: 20px;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
}
p{
	font-family:"Droid Serif";
	line-height: 24px;
	font-size: 18px;
}
img {
	margin: 40px 8px;
}
#personal_website{
	padding: 0px 0;
	text-transform: lowercase;
	color: #F15B31;
	font-family:"Droid Serif";
}
.copyright {
	float: left;
}
.message {
	float: right;
}
.copyright, .message{
	font-family: Raleway;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
footer {
	font-family: Raleway;
	text-transform: uppercase;
	padding: 0 20px;
	background: #0D2C40;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.name {
	color: #F15B31;
	font-weight: 700;
}
a:hover {
	border-bottom: 2px solid #FFFFFF;
}
button{
	background-color: #F15B31;
	padding: 10px;
	font-family: Raleway;
	font-size: 20px;
	color: #FFFFFF;
}